data/remote_mount_data/*.json
data/remote_mount_data/data.lock
data/multi_label_data/data1000label.json
data/utils/annotated_id.json
data/utils/data_label.json
.DS_Store
baseline_model/multilabel_t5/lightning_logs/
baseline_model/multilabel_t5/output
__pycache__/
*.pyc
*.swp
*.ckpt
data/remote_mount_data/
